@import "tailwindcss";

@config "../tailwind.config.js";

@layer base {  
    h1 {
        font-size: var(--text-2xl);
    }
    
    h2 {
        font-size: var(--text-xl);
    }
}

* {
    text-align: center;
}

[aria-label="Select All"] {
    visibility: hidden;
}