.container {
    display: grid;
    gap: 5%;
}

.left {
    grid-column: 1;
}

.right {
    grid-column: 2;
}

.metaDataItems {
    display: flex;
    gap: 5%;
}

.metaDataInput {
    min-width: 500px;
}

.displayFlex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.textArea {
    padding-top: 1%;
}